<form>
<div>
  <label>Nombre: 
    <input [(ngModel)]="visita.nom">
    </label>
</div>
<div>
    <label>Cargo: 
      <input [(ngModel)]="visita.cargo">
      </label>
  </div>
  <div>
      <label>Empresa: 
        <input [(ngModel)]="visita.emp">
        </label>
    </div>
    <div>
        <label>E-Mail: 
          <input [(ngModel)]="visita.mail">
          </label>
      </div>
      <div>
          <label>Telefono: 
            <input [(ngModel)]="visita.tel">
            </label>
        </div>
      
        
            <div class="form-check">
               <input type="checkbox" class="form-check-input" id="aAA"> 
               <label class="form-check-label" for="aAA">Consultoria</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="aAA"> 
                <label class="form-check-label" for="aAA">Simuladores</label>
             </div>
             <div class="form-check">
                <input type="checkbox" class="form-check-input" id="aAA"> 
                <label class="form-check-label" for="aAA">Sistemas de Gestion</label>
             </div>             
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <label class="form-check-label" for="Checkbox for following text input">Otros: </label>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="aAA"> 
                  <label class="form-check-label" for="aAA">SAAS</label>
               </div>
               <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="aAA"> 
                  <label class="form-check-label" for="aAA">S.Factory</label>
               </div>
               <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="aAA"> 
                  <label class="form-check-label" for="aAA">Presupuesto</label>
               </div>
               <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="aAA"> 
                  <label class="form-check-label" for="aAA">L.Tecnico</label>
               </div>  
               <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="aAA"> 
                  <label class="form-check-label" for="aAA">Demo</label>
               </div>        
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      <label class="form-check-label" for="Checkbox for following text input">Otros: </label>
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
        </form>